@import url(https://fonts.googleapis.com/css?family=Manrope);

* {
    padding: 0;
    margin: 0;
}

:root {
    --transparent-background: rgba(211,211,211,0.6);
    font-size: 18px;
}

body {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgb(169, 169, 169);
    font-family: 'Manrope',serif;
}

#world-map {
    height: 100vh;
    width: 100vw;
    display: block;
    margin: auto;
}

#world-map g > rect {
    cursor: pointer;
}

#world-map g > text {
    pointer-events: none;
}

#world-map #tippingPoints {
    visibility: hidden;
    transition: opacity 1s ease-out;
}

.centered-card-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--transparent-background);
    padding: 2em;
    border-radius: 40px;
    border: 1px solid rgb(187, 187, 187);
}

#menu {
    min-width: 30vw;
}

#menu > * {
    text-align: center;
}

.button {
    cursor: pointer;
    background-color: rgba(211,211,211,1);
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    border: 1px solid rgb(187, 187, 187);
}

.button:hover {
    transition: background-color .1s linear;
    background-color: rgba(211,211,211,0.4);
}

#question-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    
    background-color: var(--transparent-background);
    will-change: transform;
    transition: transform 1s ease-in-out;
}

.scale-out-from-center {
    will-change: transform;
    transition: transform 1s ease-in-out;
    transform: translate(-50%, -50%) scale(1)!important;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-out;
}

#question-container #tippingPoint {
    text-align: center;
    margin-bottom: 1em;
}

#question-container .top-row {
    display: flex;
    margin-bottom: 2em;
}

#question-container .top-row img {
    width: 30%;
    border-radius: 10px;
}

#question-container .top-row #question {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding: 0 3rem 0 3rem;
}

#question-container #answer-container > p {
    margin-left: 0;
    margin-right: 0;
}

#question-container footer {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
}

#question-container footer #continue-button, #game-description .button {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin: 0;
    transform: translate(-50%,0);
}

#question-summary {
    visibility: hidden;
    background: rgb(224, 224, 224);
    text-align: center;
}

#question-summary #score {
    margin: auto;
    margin-bottom: 1rem;
    font-size: 18px;
}

.circular-progress-bar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    background: #ddd;
}

.progress-33 {
    background-image: linear-gradient(41deg, #ddd 50%, transparent 50%), linear-gradient(-90deg, #ff6666 50%, #ddd 50%);
}

.progress-66 {
    background-image: linear-gradient(-90deg, #F7FE2E 50%, transparent 50%), linear-gradient(-45deg, #F7FE2E 50%, #ddd 50%);
}

.progress-100 {
    background-image: linear-gradient(90deg, #87d37c 50%, transparent 50%), linear-gradient(-90deg, #87d37c 50%, #ddd 50%);
}

.circular-progress-bar .overlay {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: auto;
    background: #fff;
    text-align: center;
    padding-top: 30%;


    font-size: 100%;
    line-height: 24px;
    box-sizing: border-box;
}

#ueber #back-button {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#thermometer {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 400px;
}

#thermometer #thermometer-bar {
    cursor: initial;
    height: 27px;
    transition: all 1s linear;
}

.animate-color {
    animation: animate-color 1s ease-in-out;
}

@keyframes animate-color {
    0% {fill: #ff4d4d;}
    50% {fill: #e60000;}
    100% {fill: #ff4d4d;}
}

#game-over-summary {
    visibility: hidden;
    text-align: center;
}

#game-over-summary #outcome {
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 1rem;
}

#game-description {
    visibility: hidden;
    display: flex;
}

#game-description img {
    height: 266px;
}

#game-description p {
    margin: 1em;
    margin-left: 2em;
}

#game-description .button {
    position: relative;
}